
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-color: #EDF0F5;
}

.navbar {
  padding: 1em 0em;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.2s
  }
  
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
